{{ partial "header" . }}

<main>
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}
        <img src="/image/logo.jpg">
        <h2><span>{{ markdownify .Site.Params.Description }}</span></h2>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
        <button class="down-arrow" onclick="scrollToMovie()">
            <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
        </button>
    </div>

    <div class="movie" id="movie">
        <h2>新歓動画</h2>
        <iframe width="560" height="315" src="{{ .Site.Params.YouTubeLink }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="info">
        <div>
            <h2>最新情報</h2>
            <div class="news">
                <ul>
                    {{ range .Site.Params.news }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
        <div class="timeline">
            <h2>X</h2>
            <a class="twitter-timeline" data-width="300" data-height="50vh" href="https://x.com/DENX_jp">Tweets by DENX_jp</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</main>

<script src="/js/scroll.js"></script>

{{ partial "footer" . }}
