{{ if .Site.Menus.main }}
    <ul class="nav navbar-nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about/">DENXについて <span class="caret" id="caret1"></span></a>
            <div id="about">
                <ul>
                    {{ range after 1 (where .Site.Pages "Section" "about")}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </li>
        <li>
            <a href="/departments/">部門 <span class="caret" id="caret2"></span></a>
            <div id="departments">
                <ul>
                    {{ range after 1 (where .Site.Pages "Section" "departments")}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </li>
        <li>
            <a href="/products/">制作物 <span class="caret" id="caret3"></span></a>
            <div id="products">
                <ul>
                    {{ range after 1 (where .Site.Pages "Section" "products")}}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </li>
        <li>
            <a href="/member/">会員</a>
        </li>
        <li>
            <a href="/q_a/">Q & A</a>
        </li>
        <li>
            <a href="https://denx.hatenablog.jp/" target="_blank" rel="noopener">BLOG <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </li>
        <li>
            <a href="/contact/">お問い合わせ</a>
        </li>
    </ul>
{{ end }}
{{ if .Site.Menus.icon }}
    <ul class="nav navbar-nav navbar-right">
        {{ range sort .Site.Menus.icon }}
            <li class="navbar-icon"><a href="{{ .URL }}" target="_blank" rel="noopener"><i class="fa fa-{{ .Name }}"></i></a></li>
        {{ end }}
    </ul>
{{ end }}